{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page-head">
    <div class="container">
        <h1 class="series">
            <span class="fa fa-book"></span>
            <a class="category" href="{% url 'series_list' %}">시리즈</a>
            <span class="divider">/</span>
            {% block series_path %}{% endblock %}
        </h1>
    </div>
</div>

<div class="container">
{% block series_content %}{% endblock %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'script/series.js' %}"></script>
{% endblock %}
