{% extends 'series/base.html' %}
{% load series %}

{% block series_path %}
    {% if is_new %}
        <form class="new-series-form" method="post" action="{% url 'series_new' %}">{% csrf_token %}
            <label>
                <input type="text" name="series_name" placeholder="시리즈 제목"/>
            </label>
            <button type="submit" class="button minibutton">만들기</button>
        </form>
    {% else %}
        <a class="target" href="{% url 'series' series.id %}">{{ series.name }}</a>
    {% endif %}
{% endblock %}

{% block series_content %}
{% if not is_new %}
    <ul class="episode-list">
        {% for episode in episode_list %}
        <li class="episode-list-item">
            {% if user and episode|is_recordable:user %}
                <a class="button minibutton right episode-watch" href="{% url 'episode_watch' series.id episode.id %}">이거 봤어요!</a>
                <i class="fa fa-film"></i>
            {% else %}
                <i class="fa fa-film on"></i>
            {% endif %}
            <a href="{% url 'episode' series.id episode.id %}">
                Episode.
                <span class="episode-id">{{ episode.episode }}</span>
                <span class="episode-name">{{ episode.name }}</span>
            </a>
        </li>
        {% endfor %}

        <li class="episode-list-item">
            <form action="{% url 'episode_new' series.id %}" method="post" class="new-episode-form">{% csrf_token %}
                <label>Episode. <input type="text" name="episode_number" placeholder="17"/> </label>
                <label><input type="text" name="episode_name" placeholder="올가미 세상을 옭아매다!"/></label>
                <button type="submit" class="button">만들기</button>
            </form>
        </li>
    </ul>
{% endif %}
{% endblock %}
