{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Orga.Me{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bundle/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'bundle/font-awesome/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bundle/sweetalert/sweet-alert.css' %}"/>
    <link rel="stylesheet" href="{% static 'less/common.css' %}"/>
</head>
<body>
<div id="header">
    <div class="container clearfix">
        <a class="logo" href="{% url 'main' %}">올가미</a>

        {% if not is_search_page %}
        <div class="search-form-box">
            <form class="search-form" action="{% url 'search' %}" method="get">
                <input type="text" name="q" placeholder="작품 검색" value="{{ search_keyword }}"/>
            </form>
        </div>
        {% endif %}

        <ul class="header-nav right">
            {% if user.is_authenticated %}
                {% if user.profile.is_newbie %}
                <li class="header-nav-item">
                    <a class="header-nav-link on" href="{% url 'settings' %}">
                        <i class="fa fa-cog fa-spin"></i>
                    </a>
                </li>
                {% else %}
                <li class="header-nav-item">
                    <a class="header-nav-link name" href="{% url 'user_collection' user.profile.nickname %}">{{ user.profile.nickname }}</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="{% url 'settings' %}">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                {% endif %}
            <li class="header-nav-item">
                <a class="header-nav-link" href="{% url 'signout' %}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
            {% else %}
            <li class="header-nav-item">
                <a class="header-nav-link" href="{% url 'signin' %}">
                    <i class="fa fa-sign-in"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
<div id="footer">
    <div class="container">
        <div class="site-footer">
            <ul>
                <li>© 2014 Orga.Me</li>
                <li><a href="mailto:jaeyoung@monodiary.net">연락</a></li>
                <li><a href="https://github.com/jeyraof/orgame" target="_blank">사이트소스</a></li>
            </ul>

            <ul class="right">
                <li>본 사이트의 디자인은 <a href="https://github.com" target="_blank">Github</a>을 참고하였습니다</li>
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'bundle/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'bundle/sweetalert/sweet-alert.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>