{% extends 'base.html' %}

{% block content %}
<div class="page-head">
    <div class="container">
        <h1>
            <span>최근 이슈</span>
            {% if user.is_authenticated and not user.profile.is_newbie %}
            <a class="button right" href="{% url 'series_new' %}">
                <i class="fa fa-plus"></i>
                새 시리즈
            </a>
            {% endif %}
        </h1>
    </div>
</div>
<div class="container index-content">
    <div class="dashboard">
        <div class="news">
            <ul class="news-list">
                {% for watch in watches %}
                <li class="news-list-item watch">
                    <span class="fa fa-eye"></span>
                    <a class="user-nickname" href="{% url 'user_collection' watch.user.profile.nickname %}">{{ watch.user.profile.nickname }}</a>
                    님이
                    <a class="series" href="{% url 'series' watch.series.id %}">{{ watch.series.name }} /</a>
                    <a class="episode" href="{% url 'episode' watch.series.id watch.episode.id %}">Episode. {{ watch.episode.episode }} {{ watch.episode.name }}</a>
                    를 보았습니다.
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rank"></div>
    </div>
</div>
{% endblock %}
