* {
  box-sizing: border-box;
  font-family: Helvetica;
}
body {
  font: 13px/1.4, clean, sans-serif;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a.on {
  color: #4183c4;
}
label {
  font-weight: bold;
}
input[type=text] {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background: #ffffff right center no-repeat;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.jumbo {
  padding: 60px 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.form-box {
  margin: 60px auto 0;
  width: 400px;
}
.form-box h3 {
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  background: #f5f5f5;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 10px 10px;
}
.form-box .form-content {
  padding: 1px 10px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 0 0 3px 3px;
  color: #666666;
  font-size: 13px;
}
dl.form {
  margin: 15px 0;
}
dl.form > dt {
  margin: 0 0 6px;
}
dl.form > dd {
  margin: 0;
}
dl.form > dd p.note {
  min-height: 17px;
  margin: 4px 0 2px 1px;
  font-size: 12px;
  color: #777777;
}
dl.form > dd p.note.alarm {
  color: #ca6000;
}
dl.form input[type=text] {
  background: #fafafa;
  width: 100%;
}
.button-group.vertical {
  padding: 5px 0;
}
.button-group.vertical .button {
  margin: 5px 0;
}
.button,
.minibutton {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eeeeee);
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.button.wide,
.minibutton.wide {
  width: 100%;
  text-align: center;
}
.button.blue,
.minibutton.blue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #5667a1;
  background-image: -webkit-linear-gradient(#7f90ca, #5667a1);
  background-image: linear-gradient(#7f90ca, #5667a1);
  background-repeat: repeat-x;
  border-color: #7081bb;
}
.button.red,
.minibutton.red {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #b33630;
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  background-repeat: repeat-x;
  border-color: #cd504a;
}
.button.green,
.minibutton.green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
}
.minibutton {
  padding: 0 10px;
  line-height: 24px;
}
.column-set {
  clear: both;
  overflow: hidden;
}
.column {
  float: left;
  padding: 0 10px;
}
.one-third {
  width: 33%;
}
.two-thirds {
  width: 67%;
}
.one-fourth {
  width: 25%;
}
.one-half {
  width: 50%;
}
.three-fourths {
  width: 75%;
}
#header {
  background: #F5F5F5;
  border-bottom: 1px solid #E4E4E4;
  padding: 10px 0;
  overflow: hidden;
}
#header .logo {
  float: left;
  font-size: 27px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 5px 0 -2px;
  padding: 0;
}
#header .search-form-box {
  float: left;
  width: 360px;
}
#header .search-form-box input[type=text] {
  position: relative;
  width: 100%;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
}
#header .header-nav {
  margin: 0 -8px 0 0;
  padding: 0;
  list-style: none;
  height: 28px;
}
#header .header-nav .header-nav-item {
  min-width: 34px;
  font-size: 18px;
  float: left;
}
#header .header-nav .header-nav-item .header-nav-link {
  display: block;
  padding: 4px 8px;
  line-height: 20px;
  font-weight: bold;
}
#header .header-nav .header-nav-item .header-nav-link.name {
  font-size: 13px;
}
#content .page-head {
  margin: 0 0 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
#content .page-head h1 {
  margin: 2px 0 -2px 0;
  padding: 0;
  line-height: 28px;
  font-size: 20px;
  font-weight: normal;
  clear: both;
  overflow: hidden;
}
#content .page-head h1 > span,
#content .page-head h1 > a {
  float: left;
  line-height: 28px;
}
#content .page-head h1 .fa {
  line-height: 24px;
}
#content .page-head h1 .category {
  margin-left: 5px;
}
#content .page-head h1 .divider {
  margin: 0 10px;
}
#content .page-head h1 a.target {
  color: #4183c4;
  font-weight: bold;
}
#content .page-head h1 .button.right {
  float: right;
  padding: 0 12px;
}
#footer .site-footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
}
#footer .site-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer .site-footer ul li {
  float: left;
  margin-left: 10px;
}
#footer .site-footer ul li a {
  color: #4183c4;
}
#footer .site-footer ul li a:hover {
  text-decoration: underline;
}
#footer .site-footer ul li:first-child {
  margin: 0;
}
.index-content .dashboard {
  clear: both;
  overflow: hidden;
}
.index-content .dashboard .news {
  float: left;
  width: 620px;
}
.index-content .dashboard .news .news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.index-content .dashboard .news .news-list .news-list-item {
  border-top: 1px solid #eeeeee;
  position: relative;
  padding: 1em 0 1em 45px;
  font-size: 13px;
}
.index-content .dashboard .news .news-list .news-list-item .fa {
  position: absolute;
  color: #bababa;
  left: 11px;
  font-size: 16px;
}
.index-content .dashboard .news .news-list .news-list-item a {
  color: #4183c4;
}
.index-content .dashboard .news .news-list .news-list-item a:hover {
  text-decoration: underline;
}
.index-content .dashboard .news .news-list .news-list-item:first-child {
  border: 0;
}
.index-content .dashboard .rank {
  float: right;
  width: 335px;
}
.search-header {
  clear: both;
  overflow: hidden;
}
.search-header h1 {
  float: left;
}
.search-header .search-header-form {
  float: right;
}
.search-header .search-header-form input[name=q] {
  width: 677px;
  margin-right: 10px;
}
.search-header .search-header-form form {
  margin: 0;
  padding: 0;
}
.search-content {
  overflow: hidden;
}
.search-content .sidebar {
  width: 220px;
  float: left;
}
.search-content .sidebar .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #fafafb;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
.search-content .sidebar .menu .menu-item {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  clear: both;
}
.search-content .sidebar .menu .menu-item:first-child {
  border-top: 0;
}
.search-content .sidebar .menu .menu-item:last-child {
  border-bottom: 0;
}
.search-content .sidebar .menu .menu-item > a {
  display: block;
  padding: 8px 10px 8px 8px;
  text-shadow: 0 1px 0 #fff;
  border-left: 2px solid #fafafb;
  color: #4183c4;
  font-size: 13px;
  line-height: 18px;
}
.search-content .sidebar .menu .menu-item > a:hover {
  background: #fdfdfe;
}
.search-content .sidebar .menu .menu-item > a.selected {
  font-weight: bold;
  color: #222;
  cursor: default;
  background: #fff;
  border-left: 2px solid #d26911;
}
.search-content .sidebar .menu .menu-item .fa {
  color: #000000;
  margin: 0 5px;
}
.search-content .sidebar .menu .menu-item .count {
  float: right;
  display: inline-block;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: #777777;
  background-color: #eee;
  border-radius: 20px;
}
.search-content .main-content {
  margin-left: 240px;
}
.search-content .main-content .search-result {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-content .main-content .search-result .search-result-item {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #eeeeee;
}
.search-content .main-content .search-result .search-result-item a {
  color: #4183c4;
  font-weight: normal;
}
.search-content .main-content .search-result .search-result-item:first-child {
  padding-top: 0;
}
.search-content .main-content .search-result.series .series-name {
  font-size: 20px;
  line-height: 24px;
}
.search-content .main-content .search-result.series .series-name em {
  background-color: rgba(255, 255, 140, 0.5);
  font-weight: bold;
  font-style: normal;
  text-shadow: none;
  padding: 2px 3px 3px 3px;
  border-radius: 3px;
}
.search-content .main-content .search-result.series .series-episode-count {
  position: absolute;
  right: 0;
  top: 7px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}
.search-content .main-content .search-result.series .series-desc {
  max-width: 550px;
  margin: 8px 0 0 0;
  font-size: 14px;
  color: #666;
}
.search-content .main-content .search-result.series .series-created-at {
  display: block;
  margin: 8px 0 0;
  font-size: 13px;
  color: #888888;
}
.search-content .main-content .search-result.user .user-name {
  font-size: 20px;
  line-height: 24px;
}
.search-content .main-content .search-result.user .user-name em {
  background-color: rgba(255, 255, 140, 0.5);
  font-weight: bold;
  font-style: normal;
  text-shadow: none;
  padding: 2px 3px 3px 3px;
  border-radius: 3px;
}
.search-content .main-content .search-result.user .user-joined-at {
  display: block;
  margin: 8px 0 0;
  font-size: 13px;
  color: #888888;
}
.page-head .collection .cl-nav {
  margin: -1px -20px -2px 0;
  padding: 0;
  list-style: none;
}
.page-head .collection .cl-nav .cl-nav-item {
  float: left;
}
.page-head .collection .cl-nav .cl-nav-item > a {
  display: block;
  text-align: center;
  padding: 0 20px;
}
.page-head .collection .cl-nav .cl-nav-item .count {
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  color: #4183c4;
}
.page-head .collection .cl-nav .cl-nav-item .title {
  font-weight: normal;
  color: #999999;
  font-size: 15px;
  line-height: 1;
}
.page-head .series .divider {
  margin: 0 2px;
}
.page-head .series > span,
.page-head .series > a {
  float: left;
}
.page-head .series .new-series-form {
  float: left;
}
.page-head .series .new-series-form input[type=text] {
  float: left;
  position: relative;
  width: 150px;
  min-height: 24px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  font-weight: normal;
}
.page-head .series .new-series-form .button {
  margin: 0 0 0 10px;
  line-height: 23px;
  float: left;
}
.episode-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.episode-list .episode-list-item {
  border-top: 1px solid #eeeeee;
  position: relative;
  padding: 1em 0 1em 45px;
  font-size: 13px;
}
.episode-list .episode-list-item .fa {
  position: absolute;
  color: #bababa;
  left: 11px;
  font-size: 16px;
}
.episode-list .episode-list-item .fa.on {
  color: #333333;
}
.episode-list .episode-list-item .episode-id {
  color: #4183c4;
}
.episode-list .episode-list-item .episode-name {
  color: #4183c4;
  margin-left: 10px;
}
.episode-list .episode-list-item .button {
  margin-top: -5px;
}
.episode-list .episode-list-item:first-child {
  border: 0;
}
.episode-list .new-episode-form label {
  font-weight: normal;
}
