.page-head {
  .series {

    .divider {
      margin: 0 2px;
    }

    > span, > a {
      float: left;
    }

    .new-series-form {
      float: left;

      input[type=text] {
        float: left;
        position: relative;
        width: 150px;
        min-height: 24px;
        padding: 4px 20px 4px 8px;
        font-size: 12px;
        font-weight: normal;
      }

      .button {
        margin: 0 0 0 10px;
        line-height: 23px;
        float: left;
      }
    }
  }
}

.episode-list {
  list-style: none;

  .new-episode-form {
    label {
      font-weight: normal;
    }
  }
}