.page-head {
  .series {

    .divider {
      margin: 0 2px;
    }

    > span, > a {
      float: left;
    }

    .new-series-form {
      float: left;

      input[type=text] {
        float: left;
        position: relative;
        width: 150px;
        min-height: 24px;
        padding: 4px 20px 4px 8px;
        font-size: 12px;
        font-weight: normal;
      }

      .button {
        margin: 0 0 0 10px;
        line-height: 23px;
        float: left;
      }
    }
  }
}


.series_list {
    overflow:auto;
    
  .nav {
      float:left;
      width: 33%;

        .series_box {
            background-color: #1DE9B6;
            padding: 9px;
            height: 39px;
            margin-bottom : 2px;
            .BoxShadowHelper(1);
            &:hover {
                .BoxShadowHelper(2);
                -webkit-transform : translateY(-5px);
                -moz-transform : translateY(-5px);
                transform : translateY(-5px);
            }
        }
    }
    .episode_list {
        margin-left: 34%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                background-color: #F5F5F5;
                padding: 9px;
                height: 39px;
                margin-bottom: 3px;
                .BoxShadowHelper(1);
                &:hover {
                    .BoxShadowHelper(2);
                    -webkit-transform : translateY(-1px);
                    -moz-transform : translateY(-1px);
                    transform : translateY(-1px);
                }
            }
        }
    }
    .BoxShadowHelper(@level: 1){
        & when (@level = 1) {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
        & when (@level = 2) {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
        & when (@level = 3) {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
        & when (@level = 4) {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
        & when (@level = 5) {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
    }

}
.episode-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .episode-list-item {
    border-top: 1px solid #eeeeee;
    position: relative;
    padding: 1em 0 1em 45px;
    font-size: 13px;

    .fa {
      position: absolute;
      color: #bababa;
      left: 11px;
      font-size: 16px;

      &.on {
        color: #333333;
      }
    }

    .episode-id {
      color: #4183c4;
    }

    .episode-name {
      color: #4183c4;
      margin-left: 10px;
    }

    .button {
      margin-top: -5px;
    }

    &:first-child {
      border: 0;
    }
  }

  .new-episode-form {
    label {
      font-weight: normal;
    }
  }
}
